
<form id="signup-form" ng-submit="vm.modifyProfile()" name="profileForm">
	<div ng-if="!vm.isChangingPassword">
		 <div class="form-group row">
		 	<div class="col-xs-4">
	    		<p class="h3 bg-success" align="center">Personal Information</p>
	    	</div>
	    </div>
	    <div class="form-group row">
	        <div class="col-xs-2">
	            <label>Username:</label>
	        </div>
	        <div class="col-xs-10">        
	            <p>{{vm.username}}</p>
	        </div>
	    </div>
	    <div class="form-group row">
	        <div class="col-xs-2">
	            <label>First Name:</label>
	        </div>
	        <div class="col-xs-2">
	            <input  class="form-control" ng-if="vm.isEditing === true" type="text" ng-model="vm.firstName" ng-model-options="{ updateOn: 'submit' }">
	            <p ng-if="vm.isEditing === false">{{vm.firstName}}</p>
	        </div>
	    </div>
	    <div class="form-group row">
	        <div class="col-xs-2">
	            <label>Last Name:</label>
	        </div>
	        <div class="col-xs-2">
	            <input  class="form-control" ng-if="vm.isEditing === true" type="text" ng-model="vm.lastName" ng-model-options="{ updateOn: 'submit' }">
	            <p ng-if="vm.isEditing === false">{{vm.lastName}}</p>
	        </div>
	    </div>
	    <div class="form-group row">
	        <div class="col-xs-2">
	            <label>Category:</label>
	        </div>
	        <div class="col-xs-10">    
	            <p>{{vm.userCategory}}</p>
	        </div>
	    </div>
	    <div class="form-group row">
	        <div class="col-xs-2">
	            <label>User Type:</label>
	        </div>
	        <div class="col-xs-10">        
	            <p>{{vm.userType}}</p>
	        </div>
	    </div>
    </div>

    <div ng-show="vm.hasError" class="row">
		<div class="col-xs-4">
			<div uib-alert ng-class="'alert-danger'" close="vm.closeEditError()">{{vm.error}}</div>	
		</div>
	</div>

    <button ng-if="vm.isEditing === false" class="btn btn-warning margin5-button" type="button" ng-click="vm.editProfile()">Edit profile</button>
    <button ng-if="vm.isEditing === false" class="btn btn-info" type="button" ng-click="vm.passwordChange()">Change password</button>
	<button ng-if="vm.isEditing === true" class="btn btn-success margin5-button" type="submit" >Save changes</button>
	<button ng-if="vm.isEditing === true" class="btn btn-danger" type="button" ng-click="vm.editProfileCancle()">Cancle</button>
	<br><br>
</form>

