<form id="categoryAdd" ng-submit="vm.addNewCategory()" name="vm.addNewCategoryForm" novalidate>
	<div class="form-group row">
	 	<div class="col-xs-4">
    		<p class="h3 bg-success" align="center">Adding new category</p>
    	</div>
    </div>
    {{vm.submittedFirst}}

    <div ng-show="vm.hasAddError" class="row">
        <div class="col-xs-4">
            <div uib-alert ng-class="'alert-danger'" close="vm.closeAddAlert()"> {{vm.error}}</div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-xs-2">
            <label>Category Name:</label>
        </div>
        <div class="col-xs-2">        
            <input class="form-control" name="name" id="name" type="text" ng-model="vm.categoryNewName" required>
            <p class="error-form" ng-show="(vm.addNewCategoryForm.name.$touched || vm.submitted) && vm.addNewCategoryForm.name.$error.required">Category name can not be empty.</p>
        </div>
    </div>

	<button class="btn btn-success margin5-button" type="submit" >Add</button>
	<button class="btn btn-danger" type="button" ng-click="vm.addNewCategoryCancel()">Cancle</button>
	<br><br>
</form>