<div>
	<p class="adit-text" align="center" >Welcome to Makso E-book repository</p>
	<br>
</div>

<div>
	<p class="home-title-text" align="left">Makso eBook</p>
</div>
<div class="vertical-line">
</div>
<div>
	<p class="home-text" align="left" >Makso E-book repository offer over 54,000 eBooks. You will find the world's great literature here. There are a lot categories by which you can choose eBooks. All you need to do is login and download eBook you desire. Join today to our community.</p>
</div>

<br>

<div>
	<p class="home-title-text" align="left">Some of the Latest Books</p>
</div>
<div class="vertical-line">
</div>
<div>
	<p class="home-text" align="left">Some of the Latest Books</p>
</div>












